body{
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-style: normal;

}
*{margin: 0;}
.link{
    text-decoration: none;
    cursor: pointer;

}
.list{
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.02em;
    color: #434455;

}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}
.bottom-text{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.02em;
}
.top-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.02em;
}
.title-text{
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.02em;
}
/* ------------------------------------------header------------------------- */
.header-conteiner{
    background-color: bisque;
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-link:hover{
    color: #404bbf;
}
.logo-studio{
 color: #2E2F42;
}
.logo{
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        }
   .header-mail,
   .header-tel{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
   }  
.header-address{
    font-style: normal;
}
/* ---------------------------------scrolls------------------ */
    .section-scrolls{
    background-color: #2E2F42;
           
    }
    .scrolls-nome{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        color: #FFFFFF;
        
    }
    .order-button{
        background-color:  #4D5AE5;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
    }

        
/* ---------------------------- section 1 --------------------------- */
/* ---------------------------- section 2 --------------------------- */
/* ---------------------------- section 3 --------------------------- */
/* -----------------------------footer------------------------------- */
.footer{
    background-color: #2E2F42;
}
.logo-studio-footer{
    color:#F4F4FD;
}
.footer-text{
    color: #E7E9FC;
}

/* -------------------------------portfolio--------------------- */
.filter-btn{
    font-family: 'Roboto', sans-serif; 
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;    
        letter-spacing: 0.04em;
        color: #4D5AE5;
        cursor: pointer;
       background-color: #F4F4FD;
    }
.filter-btn:is(:hover,:focus){
    background: #F4F4FD;
    background: #404BBF;
    color:#4D5AE5;
    color: #FFFFFF;

}

/* -----project-card----- */
.project-top-text{
    color: #2E2F42;
    

}
.project-bottom-text{
    color: #434455;
    font-family: 'Roboto'; 
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}