body{
    color: #2E2F42;
font-family: 'Roboto', sans-serif;

}
*{margin: 0;}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ------------------------------------------header------------------------- */
.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.logo-web{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 2;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
/* ---------------------------------scrolls------------------ */
    .section-scrolls{
        position: absolute;
            width: 1440px;
            height: 600px;
            left: 0px;
            top: 72px;
            background: #2E2F42;
    }
    .scrolls-nome{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 5;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        
    }

        
/* ---------------------------- section 1 --------------------------- */
/* ---------------------------- section 2 --------------------------- */
/* ---------------------------- section 3 --------------------------- */
/* -----------------------------footer------------------------------- */