body{
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-style: normal;

}
*{margin: 0;}
.link{
    text-decoration: none;
    cursor: pointer;

}
.list{
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.02em;
    color: #434455;

}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}
.bottom-text{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.02em;
}
.top-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.02em;
}
.title-text{
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.02em;
}
/* ------------------------------------------header------------------------- */
.header-conteiner{
    background-color: bisque;
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-link:hover{
    color: #404bbf;
}
.logo-studio{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.logo{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 2;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
/* ---------------------------------scrolls------------------ */
    .section-scrolls{
    background-color: #2E2F42;
           
    }
    .scrolls-nome{
        font-weight: 700;
        font-size: 56px;
        line-height: 5;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        
    }
    .order-button{
        i
    }

        
/* ---------------------------- section 1 --------------------------- */
/* ---------------------------- section 2 --------------------------- */
/* ---------------------------- section 3 --------------------------- */
/* -----------------------------footer------------------------------- */